{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}
<p>
    <div class="btn-group">   	
        <a type="button" class="btn {% if mode == 'list' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('list', { 'filter': { 'name': { 'value': current_top is defined ? current_top.name|default('') : '' }}}) }}">
            <i class="fa fa-list"></i> {{ 'organization.list_mode'|trans({}, 'AppBundle') }}
        </a>
        <a type="button" class="btn {% if mode == 'tree' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('tree') }}">
            <i class="fa fa-sitemap"></i> {{ 'organization.tree_mode'|trans({}, 'AppBundle') }}
        </a>
    </div>
</p>
